<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы {{ client }}</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center">
    <h1 style="margin-bottom: 20px">Заказы {{ client }}</h1>
    {% for order in orders %}
        <div style="border: 1px solid black; border-radius: 5px; padding: 10px; margin-bottom: 5px">
            {% for product in order.products %}
                <div>{{ product.name }}</div>
            {% endfor %}
            <h3 style="border-top: 1px solid red">{{ order.order_price }}</h3>
            <p>{{ order.order_data }}</p>
        </div>
    {% endfor %}
    <h1 style="margin-bottom: 20px; margin-top: 60px">Товары за последние 7 дней</h1>
    {% for product in products7 %}
        <p>{{ product.name }}</p>
    {% endfor %}
    <h1 style="margin-bottom: 20px; margin-top: 60px">Товары за последние 30 дней</h1>
    {% for product in products30 %}
        <p>{{ product.name }}</p>
    {% endfor %}
    <h1 style="margin-bottom: 20px; margin-top: 60px">Товары за последние 365 дней</h1>
    {% for product in products30 %}
        <p>{{ product.name }}</p>
    {% endfor %}
</body>
</html>